@using ASP_WebApp.Models

@model List<Department>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/TestLayout.cshtml";
}


  <br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Department</th>
        <th>Delete</th>
        <th>Update</th>
    </tr>

    @foreach (var x in Model)
    {
       <tr>
           <td>@x.Id</td>
           <td>@x.Departmant</td>
           <td><a href="#" class="btn btn-danger">Delete</a></td>
           <td><a href="#" class="btn btn-success">Update</a></td>
       </tr>
    }
</table>


