@page
@model WebApp.Pages.Employees.IndexModel
@{
}

<br />
<h2>Çalışan Listesi</h2>
<a class='btn btn-primary btn-sm' href='/Employees/Create'>Çalışan Ekle</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Isim</th>
            <th>Maas</th>
            <th>Mesai</th>
            <th>Derece</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.Employees)
        {
            <tr>
                <td>item.id</td>
                <td>item.name</td>
                <td>item.maas</td>
                <td>item.mesai</td>
                <td>item.derece</td>
                <td class='btn btn-primary btn-sm' href="/Employees/Edit?id=@item.id">Edit</td>
                <td class='btn btn-primary btn-sm' href="/Employees/Delete?id=@item.id">Delete</td>
            </tr>
        }
    </tbody>
</table>